<div id="sp- nav">
    <!-- put your menu in here -->
    <p>hello</p>
    <button ng-click="$spMenu.toggle()">exit</button>
</div>

<div id="sp-page">
    <!-- put your page content in here -->

    <leaflet

            id="map"
            center="center"
            markers="markers"

    ></leaflet>
    <div id="header">
        <button class="btn btn-default" ng-click="$spMenu.toggle()">Menu</button>
    </div>
    <button class="btn btn-success" ng-click="addMarker()" id="newPin">Pin</button>
</div>



<!--<div class="google-map"
     center="position.coords"
     zoom="zoomProperty"
     markers="markersProperty"
     latitude="clickedLatitudeProperty"
     longitude="clickedLongitudeProperty"
     mark-click="true"
     draggable="true"
     fit="false"
     events="eventsProperty"
     style="height: 1000px; width: 100%">
</div>
-->
