<div id="sp-nav">
    <!-- put your menu in here -->
    <div class="col-xs-12 col-sm-12">
        <button class="btn btn-danger logout" ng-click="$scope.redirect('/')">Log out</button>
    </div>
    <div class="col-xs-12 col-sm-12">
        <button class="btn btn-primary backtomap" ng-click="$spMenu.toggle(); update();">Back To Map</button>
    </div>
    <div class="row">
       <p style="text-align: center;">radius</p>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-4">
            <button class="btn-primary btn minus" ng-click="changeRadius(false);">-</button>
        </div>
        <div class="centerrad col-xs-4 col-sm-4">
            <strong id="radius" style="padding-top: 10px;"> {{ radius }} km </strong>
            <!--<slider model="radius" type="text" class="span2 slider" data-slider-min="5" data-slider-max="30" data-slider-step="1"  data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="hide"></slider>   -->
        </div>
        <div class="col-xs-4 col-sm-4">
            <button class="btn-primary btn plus" ng-click="changeRadius(true);">+</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <input type="text" ng-model="query" class="search" placeholder="Search"/>
        </div>
        <button class="backtomap dropdown-toggle btn btn-default">
            {{ category }}
        </button>
        <div class="dropdown-menu">
            <div class="row">
                <button class="btn cat1" ng-click="setChosenCat(1)">Recreational</button>
            </div>
            <div class="row">
                <button class="btn cat2" ng-click="setChosenCat(2)">Dining</button>
            </div>
            <div class="row">
                <button class="btn cat3" ng-click="setChosenCat(3)">Entertainment</button>
            </div>
            <div class="row">
                <button class="btn cat4" ng-click="setChosenCat(4)">Educational</button>
            </div>
            <div class="row">
                <button class="btn cat5" ng-click="setChosenCat(5)">Attraction</button>
            </div>
            <div class="row">
                <button class="btn cat6" ng-click="setChosenCat(6)">Shops</button>
            </div>
            <div class="row">
                <button class="btn cat7" ng-click="setChosenCat(7)">Others</button>
            </div>
            <div class="row">
                <button class="btn btn-default" ng-click="setChosenCat(8)">All</button>
            </div>
        </div>
    </div>
        <div class="row searchlist" ng-repeat="marker in markers | markFilter:query ">
            <div id="searchResults" class="col-xs-12 col-sm-12">
                <button ng-hide="marker.name == 'me' || (marker.category != chosenCat && chosenCat != 'All' )" ng-click="findMarker(marker); $spMenu.toggle();" class="btn btn-default">
                    <p id="btnMarkName"><strong>{{marker.name}}</strong></p>
                    <p id="btnMarkDesc">{{marker.description.substring(0,25)}}</p>
                    <p id="btnMarkDist">{{marker.distance.substring(0,3)}} km</p>
                </button>
            </div>
        </div>
</div>

<div id="sp-page">
    <!-- put your page content in here -->

    <div ng-show="!newMark">
        <leaflet
                id="map"
                ng-hide="newMark"
                center="center"
                markers="markers"

        ></leaflet>
    </div>
    <div id="header">
        <h2 id="title"><strong class="pin">Pin</strong><strong class="it">it</strong></h2>
        <button class="btn btn-default" ng-show="!mark" ng-click="$spMenu.toggle()">Menu</button>
    </div>
    <button class="btn btn-success" ng-click="newMark = true;" id="newPin">Pin</button>

    <div id="newMarker" ng-show="newMark">
        <button class="btn btn-default closeit" ng-click="newMark = false">Close</button>
        <div class="row firstinput">
            <div class="col-xs-12 col-sm-12">
                <input type="text" placeholder="Name" ng-model="name"/>
            </div>
        </div>
        <button class="dropdown-toggle btn btn-default">
            {{ category }}
        </button>
        <div class="dropdown-menu">
            <div class="row">
                <button class="btn cat1" ng-click="setCategory(1)">Recreational</button>
            </div>
            <div class="row">
                <button class="btn cat2" ng-click="setCategory(2)">Dining</button>
            </div>
            <div class="row">
                <button class="btn cat3" ng-click="setCategory(3)">Entertainment</button>
            </div>
            <div class="row">
                <button class="btn cat4" ng-click="setCategory(4)">Educational</button>
            </div>
            <div class="row">
                <button class="btn cat5" ng-click="setCategory(5)">Attraction</button>
            </div>
            <div class="row">
                <button class="btn cat6" ng-click="setCategory(6)">Shops</button>
            </div>
            <div class="row">
                <button class="btn cat7" ng-click="setCategory(7)">Others</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <textarea class="description" placeholder="Description" ng-model="description"></textarea>
            </div>
        </div>
        <button class="btn btn-default img" ng-click="capturePhoto()">Upload Picture</button>
        <button class="btn btn-success save" ng-click="newMark = false; addMarker()">Save</button>
    </div>

    <div id="mark" ng-show="mark">
        <div class="row">
            <button class="btn btn-default exit" ng-click="closeMark()">Close</button>
        </div>
        <div class="row">
           <p id="marktitle"><strong>{{ name }}</strong></p>
           <p id="markuser">by {{ user }}</p>
        </div>
        <div class="row">
            <p id="markcategory"> {{ category }} </p>
        </div>
        <div class="row">
            <img id="markimage" ng-src="{{imglink}}"/>
        </div>
        <div class="row">
            <p id="markdescription"> {{ description }} </p>
        </div>
    </div>
</div>



<!--<div class="google-map"
     center="position.coords"
     zoom="zoomProperty"
     markers="markersProperty"
     latitude="clickedLatitudeProperty"
     longitude="clickedLongitudeProperty"
     mark-click="true"
     draggable="true"
     fit="false"
     events="eventsProperty"
     style="height: 1000px; width: 100%">
</div>
-->
