<div class="login">
    <div class="row loginheader">
        <h2><strong class="pin">Pin</strong><strong>it</strong></h2>
    </div>
    <div class="inputlogin">
        <div class="row">
        <div class="col-xs-12 col-sm-12">
            <input ng-model="user.name" type="text" placeholder="Enter Preferred Username"/>
        </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <input ng-model="user.password" type="password" placeholder="Enter Password"/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <input ng-model="user.confPassword"type="password" placeholder="Confirm Password"/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <button class="btn btn-success" ng-click="create_user(user.name, user.password, user.confPassword)">Create User</button>
            </div>
        </div>
     </div>
    <div class="col-xs-12 col-sm-12 newuser">
        <button class="btn btn-primary" ng-click="redirect('/')">Back</button>
    </div>
</div>
