html {
    height: 100%
}

body {
    background-color: white;
    height: 100%;
    margin: 0;
    padding: 0;
}

/** Login **/
.login {
    text-align: center;
    color: royalblue;
}

.login input {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 2px;
    border: 1px #808080 solid;
    padding-left: 10px;
}

.login .btn {
    width: 100%;
    color: black;
}

.pin {
    color: forestgreen;
}

.it {
    color: royalblue;
}

.inputlogin {
   margin: 20px;
}

.inputlogin button {
    margin-top: 20px;
}

.loginheader {
    background-color: #f5f5f5;
    height: 45px;
}

.loginheader h2 {
    margin-top: 6px;
}

.inputlogin input {
    border: 1px solid lightgrey;
    margin-top: 10px;
    border-radius: 5px;
    height: 40px;
}

.inputlogin .btn-success {
    color: white;
    height: 40px;
}

.login .btn-primary {
    color: white;
    height: 40px;
}

.login .newuser {
    position: absolute;
    bottom: 10px;
}


/** Map **/
.leaflet-bottom.leaflet-right {
    visibility: hidden;
}

.search {
    width: 85%;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 1px solid lightgrey;
    margin-top: 20px;
    border-radius: 5px;
    height: 40px;
    padding-left: 10px;
}

#newPin {
    position: absolute;
    bottom: 10px;
    right: 5%;
    left: 5%;
    width: 90%;
    height: 40px;
}

#header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(255,255,255,0.5);
}

#title {
    text-align: center;
    margin-top: 10px;
}

#header button {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 8px;
    margin-top: 8px;
    color: royalblue;
}

.backtomap {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

.slider-handle {
    margin-left: -15px!important;
    height: 35px!important;
    width: 35px!important;
}

#searchResults button {
    width: 100%;
    margin-bottom: 10px;
    height: 60px;
}

#sp-nav {
    overflow-y: auto;
    overflow-x: hidden;
}
body, html { overflow-x: hidden; width: inherit; }
.searchlist {
    margin: 5px;
}

#btnMarkName {
    position: absolute;
    top: 10px;
    color: royalblue;
}

#btnMarkDesc {
    position: absolute;
    bottom: 10px;
}

#btnMarkDist {
    position: absolute;
    top: 10px;
    right: 30px;
    color: red;
}


.logout {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
}

.leaflet-control {
    margin-top: 60px!important;
}

#sp-nav {
    background-color: white;
}


#newMarker {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
    padding: 20px;
}

#mark {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 20px;
}

#newMarker .firstinput {
    margin-top: 50px;
}

#newMarker textarea,
#newMarker input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 10px;
}

#newMarker .dropdown-toggle {
    margin-bottom: 10px;
    height: 40px;
    width: 100%;
}

.dropdown-menu {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.dropdown-menu button {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 40px;
}



#newMarker
.description {
    height: 80px!important;
    padding-top: 10px;
}

.img,
.save {
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
}

#marktitle {
    font-size: 20px;
    color: royalblue;
    margin: 0;
    padding-left: 10px;
}

#markuser {
    margin: 0;
    padding-left: 10px;
}

#markdescription {
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 50px;
}

.slider {
    width: 100%;
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.slidercontainer {
    text-align: center;
}

#radius {
    text-align: center;
    font-size:20px;
}

#markimage {
    width: 100%;
}

#markcategory {
    margin: 0;
    padding: 5px;
    margin-top: 5px;
    text-align: center;
}

.closeit {
    position: absolute;
    top: 20px;
    right: 20px;
}

.exit {
    position: absolute;
    right: 10px;
    top: 10px;
}
.moreinfo {
    width: 100%;
    margin-top: 5px;
}


/* Categories */

.cat1 {
    background-color: rgb(255,122,122);
    color: #333;
    border-color: #ccc;
}
.cat2 {
    background-color: rgb(195,122,255);
    color: #333;
    border-color: #ccc;
}
.cat3 {
    background-color: rgb(122,131,255);
    color: #333;
    border-color: #ccc;
}
.cat4 {
    background-color: rgb(122,255,162);
    color: #333;
    border-color: #ccc;
}
.cat5 {
    background-color: rgb(204,255,122);
    color: #333;
    border-color: #ccc;
}
.cat6 {
    background-color: rgb(255,209,122);
    color: #333;
    border-color: #ccc;
}
.cat7 {
    background-color: rgb(176,176,176);
    color: #333;
    border-color: #ccc;
}


